*{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.bg{
    background: url("./image/bc_img2.jpg") no-repeat center center/cover; 
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: -1; 
    filter: blur(40px); 
}
.loading-text{
    font-size: 50px;
    color: #fff;
} 