*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(rgba(250, 250, 250, 0.3),rgba(250, 250, 250, 0.3)),url(bg-2.jpg);
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-bookmark{
    /* font-size: 2em; */
    text-align: center;
    background: rgba(218, 74, 167, 0.904);
    margin: 0 auto;
    width: 50%;
    letter-spacing: 0.2em;
    color: #fff;
    font-family: cursive;
}
.content{
    /* border: 1px solid red; */
    height: auto;
    font-family: cursive;
    margin-top: 1em;

}
#bookmark-input{
    margin-left: 1.5em;
    border: 2px solid #727272;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 2px 3px 3px rgb(0, 0, 0), 2px 3px 3px rgb(0, 0, 0);
    /* background: rgba(122, 122, 122, 0.3); */
    padding: 10px;
    background: #2bf35638;
    transition: all 1s;
}
.input-header{
    font-weight: bold;
    color:#2bf356;
    text-align: center;
}
.bookmark-input-details{
    margin: 5px 0;
    display: block;
}
.site-name,.site-url{
    display: block;
    margin-bottom: 1em;
}
input[type="text"]{
    width: 90%;
    font-size: 1em;
    padding: 0.13em;
    border-radius: px;
    border: none;
    border-bottom: 2px solid #5e5e5e;
    background: transparent;
    font-family: cursive;
    transition: all 1s;
    margin-top: 0.3em;
    outline: none;
    border-color: #2bf356;
    color: #5a5a5a;
}
h4{
    font-size: 1.2em;
}
input[type='submit']{
    font-size: 1.1em;
    padding: 0.15em;
    border : none;
    border-radius: 5px 0 5px 0;
    background: #2bf356;
    color: #fff;
    cursor: pointer;
}
input[type='submit']:hover,input[type='submit']:active{
    background: transparent;
    border: 0.5px solid #2bf356;
    color: #000;
}
.bookmark-footer{
    text-align: center;
    font-size: 0.8em;
    margin: 0 auto;
}
.confirmation_modal{
    display: none;
    top:0;
    left: 0;
    z-index: 1;;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;

}
.confirm_modal{
    background: #e7e7e7;
    font-family: cursive;
    font-size: 1.2em;
    width: 40%;
    margin:20% auto;
    border-radius: 5px;
    box-shadow: 2px 3px 3px (rgba(0, 0, 0, 0.596));
    padding: 0.4em 0.8em;
}
.modal_content{
    text-align: center;
}
.modal_footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5px;
}
.modal_footer ul{
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
}
.modal_footer ul li{
    float: right;
}







